<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.pizzaexpress.mapper.DeliverClerkMapper">
  <resultMap id="BaseResultMap" type="com.ecnu.pizzaexpress.model.DeliverClerk">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
    <result column="factory_id" jdbcType="INTEGER" property="factoryId"/>
    <result typeHandler="com.ecnu.pizzaexpress.typehandler.IntValueEnumTypeHandler" column="status"
      javaType="com.ecnu.pizzaexpress.constants.DeliverClerkStatus"
      jdbcType="TINYINT"
      property="status"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from delivery_clerk
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id"
    parameterType="com.ecnu.pizzaexpress.model.DeliverClerk"
    useGeneratedKeys="true">
    insert into deliver_clerk (name, telephone, factory_id,
                               status)
    values (#{name,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{factoryId,jdbcType=INTEGER},
            #{status,typeHandler=com.ecnu.pizzaexpress.typehandler.IntValueEnumTypeHandler})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ecnu.pizzaexpress.model.DeliverClerk">
    update deliver_clerk
    set name       = #{name,jdbcType=VARCHAR},
        telephone  = #{telephone,jdbcType=VARCHAR},
        factory_id = #{factoryId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, telephone, factory_id, status
    from deliver_clerk
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, telephone, factory_id, status
    from deliver_clerk
  </select>
  <update id="updateStatus" parameterType="com.ecnu.pizzaexpress.model.DeliverClerk">
    update deliver_clerk
    set status = #{status,typeHandler=com.ecnu.pizzaexpress.typehandler.IntValueEnumTypeHandler}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>