<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecnu.pizzaexpress.mapper.OrderDishesMapper">
  <resultMap id="BaseResultMap" type="com.ecnu.pizzaexpress.model.OrderDishes">
    <id column="order_id" jdbcType="INTEGER" property="orderId"/>
    <id column="dishes_id" jdbcType="INTEGER" property="dishesId"/>
    <result column="count" jdbcType="INTEGER" property="count"/>
  </resultMap>
  <resultMap id="DishesWithCountResultMap"
    extends="com.ecnu.pizzaexpress.mapper.DishesMapper.BaseResultMap"
    type="com.ecnu.pizzaexpress.model.DishesWithCount">
    <result column="count" jdbcType="INTEGER" property="count"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete
    from order_dishes
    where order_id = #{orderId,jdbcType=INTEGER}
      and dishes_id = #{dishesId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByOrderId">
    delete
    from order_dishes
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecnu.pizzaexpress.model.OrderDishes">
    insert into order_dishes (order_id, dishes_id, count)
    values (#{orderId,jdbcType=INTEGER}, #{dishesId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ecnu.pizzaexpress.model.OrderDishes">
    update order_dishes
    set count = #{count,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=INTEGER}
      and dishes_id = #{dishesId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select order_id, dishes_id, count
    from order_dishes
    where order_id = #{orderId,jdbcType=INTEGER}
      and dishes_id = #{dishesId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select order_id, dishes_id, count
    from order_dishes
  </select>
  <select id="findByOrderId" resultMap="DishesWithCountResultMap">
    select dishes.*, order_dishes.count
    from order_dishes
           left join dishes on order_dishes.dishes_id = dishes.id
    where order_id = #{orderId}
  </select>
</mapper>